<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" 
       
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		   http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
        	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        	 http://www.springframework.org/schema/task 
       http://www.springframework.org/schema/task/spring-task-3.0.xsd
        	">

	<context:annotation-config />	
	<context:component-scan base-package="com.core.service,com.*.dubbo" />
	
	<task:annotation-driven/>	
	
	<import resource="classpath:spring/spring-mybatis.xml" />
	
	<bean class="com.common.config.MysqlPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
			    <value>classpath:jdbc.properties</value>
				<value>classpath:system.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>	    

</beans>
